In [18]:
import pandas as pd

In [19]:
data = pd.read_csv("U.S._Chronic_Disease_Indicators__CDI_.csv")
data.head()

c:\users\ishwar gautam\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,AK,Alaska,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,2,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2015,2015,AL,Alabama,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,1,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2015,2015,AR,Arkansas,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,5,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2015,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2015,2015,CA,California,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,6,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN

In [20]:
data.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [21]:
data.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
DataSource                    object
Topic                         object
Question                      object
Response                      object
DataValueUnit                 object
DataValueType                 object
DataValue                     object
DataValueAlt                 float64
DataValueFootnoteSymbol       object
DatavalueFootnote             object
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
StratificationCategory2       object
Stratification2               object
StratificationCategory3       object
Stratification3               object
GeoLocation                   object
ResponseID                    object
LocationID                     int64
TopicID                       object
QuestionID                    object
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
StratificationCategoryID2     object
StratificationID2             object
StratificationCategoryID3     object
StratificationID3             object
dtype: object

In [22]:
data.shape

(406480, 34)

In [23]:
data.count()

YearStart                    406480
YearEnd                      406480
LocationAbbr                 406480
LocationDesc                 406480
DataSource                   406480
Topic                        406480
Question                     406480
Response                      79323
DataValueUnit                375783
DataValueType                406480
DataValue                    300289
DataValueAlt                 276138
DataValueFootnoteSymbol      188067
DatavalueFootnote            187901
LowConfidenceLimit           248467
HighConfidenceLimit          248467
StratificationCategory1      406480
Stratification1              406480
StratificationCategory2       79323
Stratification2               79323
StratificationCategory3       79323
Stratification3               79323
GeoLocation                  403864
ResponseID                    79323
LocationID                   406480
TopicID                      406480
QuestionID                   406480
DataValueTypeID              406480
StratificationCategoryID1    406480
StratificationID1            406480
StratificationCategoryID2     79324
StratificationID2             79324
StratificationCategoryID3     79323
StratificationID3             79323
dtype: int64

#### In which year, there is the most indication of chronic disease??

In [30]:
data['YearStart'].value_counts()

2013    85913
2012    75796
2014    75524
2011    74593
2015    64046
2010    24965
2009     2771
2008     2604
2016      109
2001      104
2007       55
Name: YearStart, dtype: int64

In [25]:
data['YearStart'].value_counts(bins=5)

(2010.0, 2013.0]      236302
(2013.0, 2016.0]      139679
(2007.0, 2010.0]       30340
(2000.984, 2004.0]       104
(2004.0, 2007.0]          55
Name: YearStart, dtype: int64

##### Which topic is maximum??

In [26]:
data['Topic'].unique()

array(['Alcohol', 'Asthma', 'Arthritis', 'Cancer', 'Diabetes',
       'Overarching Conditions', 'Tobacco', 'Chronic Kidney Disease',
       'Chronic Obstructive Pulmonary Disease', 'Cardiovascular Disease',
       'Immunization', 'Mental Health',
       'Nutrition, Physical Activity, and Weight Status',
       'Reproductive Health', 'Oral Health', 'Older Adults', 'Disability'],
      dtype=object)

In [28]:
data['Topic'].value_counts()

Diabetes                                           67342
Cardiovascular Disease                             62678
Chronic Obstructive Pulmonary Disease              52536
Asthma                                             31958
Arthritis                                          31652
Overarching Conditions                             30092
Nutrition, Physical Activity, and Weight Status    29512
Alcohol                                            27697
Tobacco                                            24568
Cancer                                             14101
Chronic Kidney Disease                             11525
Oral Health                                         7593
Mental Health                                       5595
Older Adults                                        4003
Immunization                                        3838
Reproductive Health                                 1735
Disability                                            55
Name: Topic, dtype: int64

#### Read only particular data

In [49]:
Ak_only = data['LocationAbbr']=='AK'
data[Ak_only]

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,AK,Alaska,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,2,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
52,2015,2015,AK,Alaska,YRBSS,Alcohol,Binge drinking prevalence among youth,NaN,%,Crude Prevalence,...,2,ALC,ALC2_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
104,2015,2015,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,2,ALC,ALC2_2,AgeAdjPrev,RACE,BLK,NaN,NaN,NaN,NaN
105,2015,2015,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,2,ALC,ALC2_2,AgeAdjPrev,GENDER,GENF,NaN,NaN,NaN,NaN
106,2015,2015,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,2,ALC,ALC2_2,AgeAdjPrev,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406169,2008,2012,AK,Alaska,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,2,CAN,CAN9_1,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406170,2008,2012,AK,Alaska,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,NaN,Average Annual Number,...,2,CAN,CAN9_1,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN
406325,2008,2012,AK,Alaska,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,2,CAN,CAN9_2,AvgAnnAgeAdjRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406326,2008,2012,AK,Alaska,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Crude Rate,...,2,CAN,CAN9_2,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406327,2008,2012,AK,Alaska,Death certificate,Cancer,"Melanoma, mortality",NaN,NaN,Average Annual Number,...,2,CAN,CAN9_2,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN

#### Removing Nan value

In [50]:
data['Response'].value_counts()

     79323
Name: Response, dtype: int64

In [51]:
data['Response'].value_counts(dropna=False)

NaN    327157
        79323
Name: Response, dtype: int64

In [18]:
data.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
DataSource                        0
Topic                             0
Question                          0
Response                     327157
DataValueUnit                 30697
DataValueType                     0
DataValue                    106191
DataValueAlt                 130342
DataValueFootnoteSymbol      218413
DatavalueFootnote            218579
LowConfidenceLimit           158013
HighConfidenceLimit          158013
StratificationCategory1           0
Stratification1                   0
StratificationCategory2      327157
Stratification2              327157
StratificationCategory3      327157
Stratification3              327157
GeoLocation                    2616
ResponseID                   327157
LocationID                        0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
StratificationCategoryID1         0
StratificationID1                 0
StratificationCategoryID2    327156
StratificationID2            327156
StratificationCategoryID3    327157
StratificationID3            327157
dtype: int64

In [53]:
new_data=data.dropna(axis=0)
new_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
41149,2013,2013,UT,Utah,NVSS,Asthma,Asthma mortality rate,,"cases per 1,000,000",Crude Rate,...,49,AST,AST4_1,CrdRate,GENDER,GENF,,,,
68783,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,RACE,BLK,,,,
68784,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,GENDER,GENF,,,,
68785,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,RACE,HIS,,,,
68786,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,GENDER,GENM,,,,

In [55]:
new_data.shape

(37264, 34)

In [56]:
new_data.isnull().sum()

YearStart                    0
YearEnd                      0
LocationAbbr                 0
LocationDesc                 0
DataSource                   0
Topic                        0
Question                     0
Response                     0
DataValueUnit                0
DataValueType                0
DataValue                    0
DataValueAlt                 0
DataValueFootnoteSymbol      0
DatavalueFootnote            0
LowConfidenceLimit           0
HighConfidenceLimit          0
StratificationCategory1      0
Stratification1              0
StratificationCategory2      0
Stratification2              0
StratificationCategory3      0
Stratification3              0
GeoLocation                  0
ResponseID                   0
LocationID                   0
TopicID                      0
QuestionID                   0
DataValueTypeID              0
StratificationCategoryID1    0
StratificationID1            0
StratificationCategoryID2    0
StratificationID2            0
StratificationCategoryID3    0
StratificationID3            0
dtype: int64

#### How much each column relate to each other

In [57]:
new_data.corr(method='pearson')

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,LocationID
YearStart,1.000000,1.000000,-0.033904,-0.035550,-0.031606,-0.003351
YearEnd,1.000000,1.000000,-0.033904,-0.035550,-0.031606,-0.003351
DataValueAlt,-0.033904,-0.033904,1.000000,0.995043,0.992970,0.013398
LowConfidenceLimit,-0.035550,-0.035550,0.995043,1.000000,0.976403,0.010124
HighConfidenceLimit,-0.031606,-0.031606,0.992970,0.976403,1.000000,0.016794
LocationID,-0.003351,-0.003351,0.013398,0.010124,0.016794,1.000000

* correlation of -1 indicates hightly negative corelated and correlation of 1 indicates highly positive correlated

#### Let's locate particular data

In [64]:
new_data.loc[0:10,["YearStart","YearEnd"]]

Empty DataFrame
Columns: [YearStart, YearEnd]
Index: []

In [63]:
new_data.loc[41149:41160,["YearStart","YearEnd"]]

       YearStart  YearEnd
41149       2013     2013

##### Where is other data ??????

In [70]:
new_data = new_data.reset_index(drop=True)
new_data.head(10)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2013,2013,UT,Utah,NVSS,Asthma,Asthma mortality rate,,"cases per 1,000,000",Crude Rate,...,49,AST,AST4_1,CrdRate,GENDER,GENF,,,,
1,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,RACE,BLK,,,,
2,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,GENDER,GENF,,,,
3,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,RACE,HIS,,,,
4,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,GENDER,GENM,,,,
5,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,OVERALL,OVR,,,,
6,2013,2013,AR,Arkansas,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,5,AST,AST3_1,AgeAdjRate,RACE,WHT,,,,
7,2013,2013,AZ,Arizona,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,4,AST,AST3_1,AgeAdjRate,RACE,AIAN,,,,
8,2013,2013,AZ,Arizona,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,4,AST,AST3_1,AgeAdjRate,RACE,API,,,,
9,2013,2013,AZ,Arizona,State Inpatient Data,Asthma,Hospitalizations for asthma,,"cases per 10,000",Age-adjusted Rate,...,4,AST,AST3_1,AgeAdjRate,RACE,BLK,,,,

In [71]:
new_data.loc[0:10,["YearStart","YearEnd"]]

    YearStart  YearEnd
0        2013     2013
1        2013     2013
2        2013     2013
3        2013     2013
4        2013     2013
5        2013     2013
6        2013     2013
7        2013     2013
8        2013     2013
9        2013     2013
10       2013     2013

#### Use of apply method to extract particular data

In [72]:
new_data2 = data[data.LocationAbbr.apply(lambda state: state == 'NV')]

In [73]:
new_data2.tail()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
406268,2008,2012,NV,Nevada,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,32,CAN,CAN9_1,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406269,2008,2012,NV,Nevada,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,NaN,Average Annual Number,...,32,CAN,CAN9_1,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN
406424,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,32,CAN,CAN9_2,AvgAnnAgeAdjRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406425,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Crude Rate,...,32,CAN,CAN9_2,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406426,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,NaN,Average Annual Number,...,32,CAN,CAN9_2,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN

#### Use of crosstab --> Compute a simple cross tabulation of two (or more) factors

In [74]:
pd.crosstab(data['Topic'], new_data['YearStart'])

YearStart                              2010  2011  2012  2013  2014
Topic
Alcohol                                1285   298     0  2651     0
Arthritis                              2115     0     0     0  4845
Asthma                                   14     0     0  3119  1556
Cancer                                    1     0     0  2487     6
Cardiovascular Disease                 2242  5008    35     0     0
Chronic Kidney Disease                    0     0   267   603     0
Chronic Obstructive Pulmonary Disease     0   969  5991     0     0
Diabetes                               3658     3     0     3     1
Overarching Conditions                    0     1     0    14    18
Tobacco                                  21    19    29     5     0

In [75]:
pd.crosstab(data['Topic'], new_data['YearStart'],margins=True)

YearStart                              2010  2011  2012  2013  2014    All
Topic
Alcohol                                1285   298     0  2651     0   4234
Arthritis                              2115     0     0     0  4845   6960
Asthma                                   14     0     0  3119  1556   4689
Cancer                                    1     0     0  2487     6   2494
Cardiovascular Disease                 2242  5008    35     0     0   7285
Chronic Kidney Disease                    0     0   267   603     0    870
Chronic Obstructive Pulmonary Disease     0   969  5991     0     0   6960
Diabetes                               3658     3     0     3     1   3665
Overarching Conditions                    0     1     0    14    18     33
Tobacco                                  21    19    29     5     0     74
All                                    9336  6298  6322  8882  6426  37264