In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("U.S._Chronic_Disease_Indicators__CDI_.csv")
data.head()

c:\users\ishwar gautam\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,AK,Alaska,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,2,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2015,2015,AL,Alabama,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,1,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2015,2015,AR,Arkansas,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,5,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2015,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2015,2015,CA,California,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,6,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN

In [3]:
data.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
DataSource                    object
Topic                         object
Question                      object
Response                      object
DataValueUnit                 object
DataValueType                 object
DataValue                     object
DataValueAlt                 float64
DataValueFootnoteSymbol       object
DatavalueFootnote             object
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
StratificationCategory2       object
Stratification2               object
StratificationCategory3       object
Stratification3               object
GeoLocation                   object
ResponseID                    object
LocationID                     int64
TopicID                       object
QuestionID                    object
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
StratificationCategoryID2     object
StratificationID2             object
StratificationCategoryID3     object
StratificationID3             object
dtype: object

In [4]:
data.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [5]:
data.shape

(406480, 34)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406480 entries, 0 to 406479
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  406480 non-null  int64
 1   YearEnd                    406480 non-null  int64
 2   LocationAbbr               406480 non-null  object
 3   LocationDesc               406480 non-null  object
 4   DataSource                 406480 non-null  object
 5   Topic                      406480 non-null  object
 6   Question                   406480 non-null  object
 7   Response                   79323 non-null   object
 8   DataValueUnit              375783 non-null  object
 9   DataValueType              406480 non-null  object
 10  DataValue                  300289 non-null  object
 11  DataValueAlt               276138 non-null  float64
 12  DataValueFootnoteSymbol    188067 non-null  object
 13  DatavalueFootnote          187901 non-null  object
 14  LowConfidenceLimit         248467 non-null  float64
 15  HighConfidenceLimit        248467 non-null  float64
 16  StratificationCategory1    406480 non-null  object
 17  Stratification1            406480 non-null  object
 18  StratificationCategory2    79323 non-null   object
 19  Stratification2            79323 non-null   object
 20  StratificationCategory3    79323 non-null   object
 21  Stratification3            79323 non-null   object
 22  GeoLocation                403864 non-null  object
 23  ResponseID                 79323 non-null   object
 24  LocationID                 406480 non-null  int64
 25  TopicID                    406480 non-null  object
 26  QuestionID                 406480 non-null  object
 27  DataValueTypeID            406480 non-null  object
 28  StratificationCategoryID1  406480 non-null  object
 29  StratificationID1          406480 non-null  object
 30  StratificationCategoryID2  79324 non-null   object
 31  StratificationID2          79324 non-null   object
 32  StratificationCategoryID3  79323 non-null   object
 33  StratificationID3          79323 non-null   object
dtypes: float64(3), int64(3), object(28)
memory usage: 105.4+ MB

In [7]:
data.describe()

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,LocationID
count,406480.000000,406480.000000,2.761380e+05,248467.000000,248467.000000,406480.000000
mean,2012.700807,2012.752052,7.448321e+02,49.889879,62.745047,30.994379
std,1.585295,1.511674,1.819974e+04,83.926238,96.159102,17.691045
min,2001.000000,2001.000000,0.000000e+00,0.200000,0.420000,1.000000
25%,2011.000000,2012.000000,1.890000e+01,13.000000,20.100000,17.000000
50%,2013.000000,2013.000000,4.170000e+01,31.100000,45.500000,30.000000
75%,2014.000000,2014.000000,7.120000e+01,57.400000,72.200000,45.000000
max,2016.000000,2016.000000,3.967333e+06,1293.900000,2088.000000,78.000000

In [8]:
data.describe(include="object")

,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DataValueFootnoteSymbol,...,ResponseID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,406480,406480,406480,406480,406480,79323,375783,406480,300289,188067,...,79323,406480,406480,406480,406480,406480,79324,79324,79323,79323
unique,55,55,33,17,204,1,14,19,20311,19,...,1,17,201,19,3,10,1,1,1,1
top,KY,New Jersey,BRFSS,Diabetes,Mortality from heart failure,,%,Crude Prevalence,,****,...,,DIA,CVD1_4,CrdPrev,RACE,OVR,,,,
freq,7827,7827,299921,67342,6136,79323,280119,150281,23064,80363,...,79323,67342,6136,150281,246619,65711,79324,79324,79323,79323

In [9]:
data.count()

YearStart                    406480
YearEnd                      406480
LocationAbbr                 406480
LocationDesc                 406480
DataSource                   406480
Topic                        406480
Question                     406480
Response                      79323
DataValueUnit                375783
DataValueType                406480
DataValue                    300289
DataValueAlt                 276138
DataValueFootnoteSymbol      188067
DatavalueFootnote            187901
LowConfidenceLimit           248467
HighConfidenceLimit          248467
StratificationCategory1      406480
Stratification1              406480
StratificationCategory2       79323
Stratification2               79323
StratificationCategory3       79323
Stratification3               79323
GeoLocation                  403864
ResponseID                    79323
LocationID                   406480
TopicID                      406480
QuestionID                   406480
DataValueTypeID              406480
StratificationCategoryID1    406480
StratificationID1            406480
StratificationCategoryID2     79324
StratificationID2             79324
StratificationCategoryID3     79323
StratificationID3             79323
dtype: int64

In [10]:
data['YearStart'].value_counts()

2013    85913
2012    75796
2014    75524
2011    74593
2015    64046
2010    24965
2009     2771
2008     2604
2016      109
2001      104
2007       55
Name: YearStart, dtype: int64

In [11]:
data['YearStart'].value_counts(bins=10)

(2011.5, 2013.0]      161709
(2013.0, 2014.5]       75524
(2010.0, 2011.5]       74593
(2014.5, 2016.0]       64155
(2008.5, 2010.0]       27736
(2007.0, 2008.5]        2604
(2000.984, 2002.5]       104
(2005.5, 2007.0]          55
(2004.0, 2005.5]           0
(2002.5, 2004.0]           0
Name: YearStart, dtype: int64

In [12]:
data['DataValueType'].value_counts(dropna=False, ascending=True)

Prevalence                                                              52
Commercial host (dram shop) liability status for alcohol service       106
Per capita alcohol consumption                                         107
Local control of the regulation of alcohol outlet density              109
US Dollars                                                             321
Adjusted by age, sex, race and ethnicity                               520
Yes/No                                                                 918
Percent                                                               1209
Average Annual Crude Rate                                             1664
Average Annual Number                                                 1664
Average Annual Age-adjusted Rate                                      1664
Median                                                                2822
Mean                                                                 10550
Age-adjusted Mean                                                    10875
Age-adjusted Rate                                                    31311
Crude Rate                                                           31311
Number                                                               32419
Age-adjusted Prevalence                                             128577
Crude Prevalence                                                    150281
Name: DataValueType, dtype: int64

In [13]:
data['DataValueType'].value_counts(dropna=True, ascending=False)

Crude Prevalence                                                    150281
Age-adjusted Prevalence                                             128577
Number                                                               32419
Crude Rate                                                           31311
Age-adjusted Rate                                                    31311
Age-adjusted Mean                                                    10875
Mean                                                                 10550
Median                                                                2822
Average Annual Age-adjusted Rate                                      1664
Average Annual Number                                                 1664
Average Annual Crude Rate                                             1664
Percent                                                               1209
Yes/No                                                                 918
Adjusted by age, sex, race and ethnicity                               520
US Dollars                                                             321
Local control of the regulation of alcohol outlet density              109
Per capita alcohol consumption                                         107
Commercial host (dram shop) liability status for alcohol service       106
Prevalence                                                              52
Name: DataValueType, dtype: int64

In [14]:
ky_only = data['LocationAbbr']=='KY'
data[ky_only]

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
17,2015,2015,KY,Kentucky,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,21,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
69,2015,2015,KY,Kentucky,YRBSS,Alcohol,Binge drinking prevalence among youth,NaN,%,Crude Prevalence,...,21,ALC,ALC2_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
249,2015,2015,KY,Kentucky,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,21,ALC,ALC2_2,AgeAdjPrev,RACE,BLK,NaN,NaN,NaN,NaN
250,2015,2015,KY,Kentucky,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,21,ALC,ALC2_2,AgeAdjPrev,GENDER,GENF,NaN,NaN,NaN,NaN
251,2015,2015,KY,Kentucky,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Age-adjusted Prevalence,...,21,ALC,ALC2_2,AgeAdjPrev,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406220,2008,2012,KY,Kentucky,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,"per 100,000",Average Annual Crude Rate,...,21,CAN,CAN9_1,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406221,2008,2012,KY,Kentucky,Statewide central cancer registries,Cancer,"Invasive melanoma, incidence",NaN,NaN,Average Annual Number,...,21,CAN,CAN9_1,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN
406376,2008,2012,KY,Kentucky,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,21,CAN,CAN9_2,AvgAnnAgeAdjRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406377,2008,2012,KY,Kentucky,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Crude Rate,...,21,CAN,CAN9_2,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406378,2008,2012,KY,Kentucky,Death certificate,Cancer,"Melanoma, mortality",NaN,NaN,Average Annual Number,...,21,CAN,CAN9_2,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN

In [15]:
data['Response'].value_counts()

     79323
Name: Response, dtype: int64

In [16]:
data['Response'].value_counts(dropna=False)

NaN    327157
        79323
Name: Response, dtype: int64

In [17]:
data['DatavalueFootnote'].value_counts(dropna=False,ascending=True)

Per capita alcohol consumption was calculated using (1) alcohol beverage sales data, either collected directly from states or provided by beverage industry sources (numerator); and (2) population data from the U.S. Census Bureau (denominator).                                                                                                                                                                                                                                                             1
DC was not rated for this measure because the measure addresses state versus local authority and does not apply to the District of Columbia                                                                                                                                                                                                                                                                                                                                                                     1
Population served by CWS exceeded the US Census state population estimate; number of people was reduced by the ratio of the population estimate to the CWS population estimate.  Complete data were not available from WFRS; state provided additional information.                                                                                                                                                                                                                                             1
Population served by CWS exceeded the US Census state population estimate; number of people was reduced by the ratio of the population estimate to the CWS population estimate.  Complete data were not available from WFRS; state provided additional information.  California is developing new methodology to describe the fluoridated status of water systems that draw water from multiple sources (e.g., ground water, surface water). This report does not reflect Californiaâ€™s new methodology.         1
50 states + DC:  Median Percent; NSCH Data provided by Data Resource Center for Child and Adolescent Health.  http://www.childhealthdata.org                                                                                                                                                                                                                                                                                                                                                                    6
Population served by CWS exceeded the US Census state population estimate; number of people was reduced by the ratio of the population estimate to the CWS population estimate                                                                                                                                                                                                                                                                                                                                 17
Data are from cancer registries that meet the data quality criteria for all invasive cancer sites combined,  for all years covering approximately 99% of the U.S. population. See registry-specific data quality information at http://www.cdc.gov/cancer/npcr/uscs/data/00_data_quality.htm                                                                                                                                                                                                                   24
Data are from cancer registries that meet the data quality criteria for all invasive cancer sites combined, for all years covering approximately 99% of the U.S. population. See registry-specific data quality information at http://www.cdc.gov/cancer/npcr/uscs/data/00_data_quality.htm                                                                                                                                                                                                                    24
US estimate/number is based on fewer than 50 states and the District of Columbia                                                                                                                                                                                                                                                                                                                                                                                                                               33
Data are not available because cancer registry did not meet the data quality criteria for all the years for publication in United States Cancer statistics (USCS)                                                                                                                                                                                                                                                                                                                                              48
A confidence interval for this location is not available because a census was used instead of a sample for their surveys                                                                                                                                                                                                                                                                                                                                                                                       55
State directly controlled the sale of (beer/wine/distilled spirits) at the retail and/or wholesale levels. State prices for (beer/wine/distilled spirits) combined both markups and taxes, so tax rates for this beverage type could not be determined.                                                                                                                                                                                                                                                        60
NSCH Data provided by Data Resource Center for Child and Adolescent Health.  http://www.childhealthdata.org                                                                                                                                                                                                                                                                                                                                                                                                   103
Estimate is 0.0% because no cases were reported with this condition                                                                                                                                                                                                                                                                                                                                                                                                                                           138
NSCH Data provided by Data Resource Center for Child and Adolescent Health.  Http://www.childhealthdata.org                                                                                                                                                                                                                                                                                                                                                                                                   203
US Median based on the number of participating states and/or excluding states with sample size below 50 or relative standard error above 30%                                                                                                                                                                                                                                                                                                                                                                  260
50 States + DC: US Median                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1758
Data not shown because of too few respondents or cases                                                                                                                                                                                                                                                                                                                                                                                                                                                      22686
No data available                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           26097
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            56022
Sample size of denominator and/or age group for age-standardization is less than 50 or relative standard error is more than 30%                                                                                                                                                                                                                                                                                                                                                                             80363
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        218579
Name: DatavalueFootnote, dtype: int64

In [18]:
data.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
DataSource                        0
Topic                             0
Question                          0
Response                     327157
DataValueUnit                 30697
DataValueType                     0
DataValue                    106191
DataValueAlt                 130342
DataValueFootnoteSymbol      218413
DatavalueFootnote            218579
LowConfidenceLimit           158013
HighConfidenceLimit          158013
StratificationCategory1           0
Stratification1                   0
StratificationCategory2      327157
Stratification2              327157
StratificationCategory3      327157
Stratification3              327157
GeoLocation                    2616
ResponseID                   327157
LocationID                        0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
StratificationCategoryID1         0
StratificationID1                 0
StratificationCategoryID2    327156
StratificationID2            327156
StratificationCategoryID3    327157
StratificationID3            327157
dtype: int64

In [19]:
data['GeoLocation'].isnull().sum()

2616

In [20]:
data.corr(method='pearson')

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,LocationID
YearStart,1.000000,0.959956,-0.033925,-0.131716,-0.121733,0.018818
YearEnd,0.959956,1.000000,-0.031133,-0.128807,-0.123540,0.017062
DataValueAlt,-0.033925,-0.031133,1.000000,0.994804,0.993999,0.019338
LowConfidenceLimit,-0.131716,-0.128807,0.994804,1.000000,0.977918,-0.007849
HighConfidenceLimit,-0.121733,-0.123540,0.993999,0.977918,1.000000,-0.009414
LocationID,0.018818,0.017062,0.019338,-0.007849,-0.009414,1.000000

In [21]:
data.loc[10:15,["YearStart","YearEnd"]]

    YearStart  YearEnd
10       2015     2015
11       2015     2015
12       2015     2015
13       2015     2015
14       2015     2015
15       2015     2015

In [26]:
new_data = data[data.LocationAbbr.apply(lambda state: state == 'NV')]

In [27]:
new_data.tail(3)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
406424,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Age-adjusted Rate,...,32,CAN,CAN9_2,AvgAnnAgeAdjRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406425,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,"per 100,000",Average Annual Crude Rate,...,32,CAN,CAN9_2,AvgAnnCrdRate,OVERALL,OVR,NaN,NaN,NaN,NaN
406426,2008,2012,NV,Nevada,Death certificate,Cancer,"Melanoma, mortality",NaN,NaN,Average Annual Number,...,32,CAN,CAN9_2,AvgAnnNmbr,OVERALL,OVR,NaN,NaN,NaN,NaN

In [28]:
pd.crosstab(data['Topic'], new_data['YearEnd'])

YearEnd,2001,2007,2008,2010,2011,2012,2013,2014,2015,2016
Topic,,,,,,,,,,
Alcohol,0,0,0,25,102,104,102,102,82,0
Arthritis,0,0,0,0,128,102,128,96,128,0
Asthma,0,0,0,57,110,110,158,110,86,0
Cancer,0,0,0,0,0,94,78,46,46,0
Cardiovascular Disease,0,0,0,177,255,184,302,184,134,0
Chronic Kidney Disease,0,0,0,28,44,44,44,44,16,0
Chronic Obstructive Pulmonary Disease,0,0,0,162,176,176,272,176,128,0
Diabetes,0,0,0,97,251,230,294,230,198,0
Disability,0,0,0,0,0,1,0,0,0,0
Immunization,0,0,0,0,16,16,16,16,16,0
Mental Health,0,0,0,0,23,14,22,22,22,0
"Nutrition, Physical Activity, and Weight Status",0,0,2,3,87,74,153,75,147,2
Older Adults,0,0,0,9,0,33,0,32,0,0
Oral Health,0,0,0,0,1,72,1,66,1,0
Overarching Conditions,2,0,0,25,102,120,118,117,77,0
Reproductive Health,0,0,0,0,8,6,6,6,6,0
Tobacco,0,1,0,0,87,87,93,92,92,0

In [29]:
pd.crosstab(data['Topic'], new_data['YearEnd'],margins=True)

YearEnd,2001,2007,2008,2010,2011,2012,2013,2014,2015,2016,All
Topic,,,,,,,,,,,
Alcohol,0,0,0,25,102,104,102,102,82,0,517
Arthritis,0,0,0,0,128,102,128,96,128,0,582
Asthma,0,0,0,57,110,110,158,110,86,0,631
Cancer,0,0,0,0,0,94,78,46,46,0,264
Cardiovascular Disease,0,0,0,177,255,184,302,184,134,0,1236
Chronic Kidney Disease,0,0,0,28,44,44,44,44,16,0,220
Chronic Obstructive Pulmonary Disease,0,0,0,162,176,176,272,176,128,0,1090
Diabetes,0,0,0,97,251,230,294,230,198,0,1300
Disability,0,0,0,0,0,1,0,0,0,0,1
Immunization,0,0,0,0,16,16,16,16,16,0,80
Mental Health,0,0,0,0,23,14,22,22,22,0,103
"Nutrition, Physical Activity, and Weight Status",0,0,2,3,87,74,153,75,147,2,543
Older Adults,0,0,0,9,0,33,0,32,0,0,74
Oral Health,0,0,0,0,1,72,1,66,1,0,141
Overarching Conditions,2,0,0,25,102,120,118,117,77,0,561
Reproductive Health,0,0,0,0,8,6,6,6,6,0,32
Tobacco,0,1,0,0,87,87,93,92,92,0,452
All,2,1,2,583,1390,1467,1787,1414,1179,2,7827

In [25]:
pd.crosstab(data['Topic'], new_data['Response'], margins=True)

Response                                      All
Topic
Alcohol                                 120   120
Asthma                                  192   192
Cardiovascular Disease                  696   696
Chronic Kidney Disease                  120   120
Chronic Obstructive Pulmonary Disease   312   312
Diabetes                                336   336
All                                    1776  1776